@import "src/scss/variables";

.new-price {
  width: 100%;
  height: 510px;
  background-image: url("../../../public/assets/images/bedsheet.png");
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 60px;

  .new-price-content {
    background: $transparent-brown;
    max-width: 500px;
    width: 100%;
    padding: 55px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    h2 {
      font-size: 28px;
    }

    .prices {
      display: flex;
      align-items: center;
      color: $dark-brown;
      font-weight: 700;
      gap: 26px;

      h3 {
        font-size: 28px;
      }

      del {
        font-size: 16px;
        font-weight: 700;
      }
    }

    p {
      font-weight: 300;
    }
  }
}