@import "src/scss/variables";

.slider-wrapper {
  width: 100%;
  height: 500px;
  background-color: $transparent-brown;
  display: flex;
  transition: .7s ease-in-out;
  overflow: hidden;
  position: relative;

  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;

    .slider-item {
      min-width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      gap: 70px;

      .s-img {
        background-image: url("../../../../public/assets/images/slider-img.png");
        background-position: center;
        max-width: 600px;
        width: 100%;
        height: 400px;
        user-select: none;
      }

      .s-info {
        max-width: 500px;
        width: 100%;

        p {
          font-size: 22px;
          font-weight: 700;
          color: $black;
          margin-bottom: 20px;
        }

        h2 {
          text-align: center;
          font-weight: 700;
          font-size: 48px;
          color: $brown;
          margin-bottom: 40px;
        }
      }
    }
  }

  .dots {
    position: absolute;
    bottom: 30px;
    left: 50%;
    display: flex;
    gap: 10px;

    .dot {
      width: 10px;
      height: 10px;
      background: $gray;
      border-radius: 50%;

      &.active {
        background: $dark-brown;
      }
    }
  }
}