.swiper-container {
    position: relative;
    margin: 0 50px;

    .swiper-button-next, .swiper-button-prev {
        position: absolute;
        cursor: pointer;
        top: 40%;
        z-index: 33;
    }

    .swiper-button-prev {
        left: 0px;
    }

    .swiper-button-next {
        right: 10px;
    }
}