@import "../../scss/variables.scss";

.category-filter-container {
  width: 100%;
  display: flex;

  .category-names {
    max-width: 300px;
    width: 100%;

    h2 {
      margin-bottom: 14px;
      color: $black;
    }

    .c-name {
      color: $black;
      font-weight: 400;
      margin-bottom: 12px;
      cursor: pointer;

      &.active {
        color: $green;
        font-weight: bold;
      }
    }
  }

  .item-lists {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
}