@import "src/scss/variables";

.rating-item {
  display: flex;
  max-width: 420px;
  width: 100%;
  height: 300px;
  transition: 0.3s ease-in-out;
  cursor: pointer;

  img {
    width: 60%;
    height: 100%;
  }

  .r-item-desc {
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 50%;

    h3 {
      color: $black;
      font-size: 18px;
      font-weight: 700;
    }

    p {
      font-size: 24px;
      color: $black;
      font-weight: 700;
    }
  }

  &:hover {
    background-color: $white;
  }
}