@import "src/scss/variables";

.login-form {
  display: flex;
  justify-content: center;
  flex-flow: column;
  gap: 20px;
  max-width: 600px;
  width: 100%;

  input {
    padding: 8px;
    width: 100%;
  }

  .btns {
    display: flex;
    gap: 10px;
    justify-content: end;

    .log-btn, .login-reset-btn {
      background: $green;
      border: none;
      border-radius: 8px;
      padding: 12px 14px;
      color: $white;
      font-size: 18px;
      cursor: pointer;
      transition: 0.5s all;

      &:hover {
        opacity: 0.9;
      }
    }

    .login-reset-btn{
      background-color: $gray;
      color: $black;

      &:hover {
        background-color: $gray;
      }
    }
  }

  p {
    color: $dark-red;
  }
}