.search {
  max-width: 720px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  pointer-events: none;

  svg {
    position: absolute;
    top: 15px;
    left: 10px;
  }

  input[type="text"] {
    width: 620px;
    padding: 16px 24px;
    border-radius: 25px;
  }
}