@import "src/scss/variables";

.container {
  max-width: 1440px;
  padding: 16px 24px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  display: block;
  color: $black;
}

img {
  display: block;
  width: 100%;
}