$green: #4C8787;
$dark-blue: #0A032A;
$dark-purple: #050019;
$black: #323334;
$white: #F3F6FF;
$brown: #A86A3D;
$gray: #C4C4C4;
$transparent-white: #ffffff80;
$dark-red: #8B0000FF;
$transparent-brown: #F9D370CC;
$dark-brown: #7B5136;
