.premium-offer {
  background-image: url("../../../public/assets/images/p-offer.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 265px;
  display: flex;
  align-items: center;
  justify-content: center;

  .premium-offer-info {
    text-align: center;

    h3 {
      font-size: 38px;
      font-weight: 500;
      text-transform: capitalize;
      margin-bottom: 10px;
    }

    p {
      font-size: 36px;
      font-weight: 400;
      text-transform: lowercase;
    }

    .small-text {
      font-size: 18px;
      font-weight: 500;
      margin-top: 40px;
    }
  }
}
